<h1>Your current listings</h1>

<div class="current-listings-container">
    <% @listings.reverse_each do |listing| %>
        <%= render 'current-listing-card', listing: listing %>
    <% end %>
</div>
