<h1>Cart</h1>
<div class="cart">
    <div class="cart__items">
        <% @cart_items.reverse_each do |item| %>
            <%= render 'cart-item', listing: item.listing, item: item %>
        <% end %>
    </div>

    <div class="cart__details">
        <div class="cart__details-container">
            <h2>Total: $<%= @total %></h2>

            <%= link_to "Pay Deposit", "", id: "stripe" %>
        </div>        
    </div>
</div>


<%= javascript_pack_tag "stripe" %>