.footer-main {
  margin-top: 50px;
  background: #fff;
  border-top: 1px solid var(--border-color);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 14px;

    @include breakpoint(xs) {
      flex-direction: column-reverse;
      align-items: baseline;
    }
  }

  &__legal {
    display: flex;

    @include breakpoint(xs) {
      flex-direction: column;
      font-size: 10px;
    }
  }

  &__copyright {
    margin-right: 5px;
  }

  &__legal-links {
    & > a {
      font-weight: 100;
    }
  }

  &__options {
    display: flex;

    @include breakpoint(xs) {
      margin-bottom: 20px;
    }

    & > * {
      padding: 10px;
      border: 1px solid var(--border-color);
      border-radius: 5px;
    }

    & > *:not(:last-child) {
      margin-right: 20px;
    }
  }
}
