.listing-card {
  display: flex;
  // border: 1px solid var(--border-color);
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;

  &__picture {
    margin-right: 20px;
  }

  &__picture-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }

  &__title {
    font-size: 25px;
  }

  &__description {
    margin-top: 20px;
    font-size: 14px;
  }

  &__price {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .price {
      font-weight: bold;
    }
  }
}
