.listing-card {
  position: relative;
  display: flex;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;

  @include breakpoint(xs) {
    flex-direction: column;
  }

  &__picture {
    margin-right: 20px;

    @include breakpoint(xs) {
      margin: 0;
    }
  }

  &__picture-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;

    @include breakpoint(xs) {
      width: 100%;
    }
  }

  &__details {
    z-index: 1;
    width: 80%;
  }

  &__title {
    font-size: 25px;

    @include breakpoint(xs) {
      font-size: 20px;
    }
  }

  &__user {
    @include breakpoint(xs) {
      font-size: 12px;
    }
  }

  &__description {
    margin-top: 20px;
    font-size: 14px;
  }

  &__price {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .price {
      font-weight: bold;
    }
  }
}
