.nav-main {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 1px 1px 8px rgb(185, 185, 185);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &__site-title {
    font-size: 25px;
    letter-spacing: -1.5px;
  }

  &__links {
    list-style: none;
  }

  &__link-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__btn {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
  }

  .dropdown {
    position: relative;

    &:hover .nav-main__user-dropdown-menu {
      display: block;
    }
  }

  &__user-dropdown {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  &__user-dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 27px;
    background-color: #ffff;
    min-width: 100%;
    padding: 10px;
    // box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;

    a {
      display: block;
      padding: 10px;
      text-align: right;
      border-radius: 5px;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
