<%= render 'shared/search-bar' %>

<div class="homepage">
    <h2>Featured Categories</h2>

    <div class="homepage__featured">
        <div class="homepage__featured-category synths">
            <h3>Synthesizers</h3>
        </div>
        <div class="homepage__featured-category studio">
            <h3>Studio Equipment</h3>
        </div>
        <div class="homepage__featured-category guitars">
            <h3>Guitars</h3>
        </div>
        <div class="homepage__featured-category percussion">
            <h3>Percussion</h3>
        </div>
    </div>
</div>
