<footer class="footer-main">
    <div class="container">
        <div class="footer-main__content">
            <div class="footer-main__legal">
                <div class="footer-main__copyright">
                    &copy; 2020 Music Share, Inc. All rights reserved
                </div>
                <div class="footer-main__legal-links">
                    <span class="footer-main__links-divider">·</span>
                    <a href="" class="footer-main__link">Privacy</a>
                    <span class="footer-main__links-divider">·</span>
                    <a href="" class="footer-main__link">Terms</a>
                </div>
            </div>
            <div class="footer-main__options">
                <a href="" class="footer-main__language">
                    <i class="fas fa-globe-asia"></i>
                    English (AU)
                </a>
                <a href="" class="footer-main__currency">
                    $ AUD
                </a>    
            </div>
        </div>
    </div>
</footer>