.browse {
  margin-top: 20px;
  display: flex;
  width: 100%;

  &__categories-container {
    width: 30%;
    max-width: 300px;
    margin-right: 20px;
  }

  &__categories {
    width: 100%;
    padding: 20px;
    background: #fff;
    // border: 1px solid var(--border-color);
    border-radius: 5px;

    &-list {
      list-style: none;
    }
  }

  &__listings {
    width: 100%;
  }

  .active {
    a {
      color: rgb(196, 104, 104);
    }
  }
}
