.cart {
  display: flex;

  &__items {
    width: 100%;
  }

  &__details {
    width: 100%;
    max-width: 300px;
    margin-left: 20px;

    &-container {
      background: #fff;
      padding: 20px;
    }
  }
}
