.listing {
  display: flex;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;

  &__photos {
    margin-right: 20px;
  }

  &__image {
    max-width: 300px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }
}
